body {
    font-family: "Lato", Arial;
  }

p,
h4,
h2,
figure { 
  margin: 0;
}

.container {
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 2fr 2fr;
  grid-template-rows: 2.1fr .8fr 2.1fr;
  grid-template-areas: "left video video"
                       "left infoVideo infoVideo"
                       "left comments recomended";
}
.left-bar {
  grid-area: left;
  padding: 10px;
  display:grid;
  background: #151B31;
  color: white;
  height: 100%;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  align-content: space-between;
  grid-template-areas: "title"
                       "miPlaylist"
                       "friends";
}

/**************************************
             Title-section
***************************************/
.title-section {
  grid-area: title;
  padding-top: 20px;
  height: 2em;
  font-size: 1.9em;
}
.title-section strong {
  color: #E32933;
}

/**************************************
          miPlaylists-section
***************************************/
.miPlaylists-section {
  grid-area: miPlaylist;
  height: 140%;
  padding-top: 5px;
  }
.miPlaylists-section ol {
  list-style-type: decimal;
  padding-left:18px;
}
.miPlaylists-section li{
  padding-left: 20px;
  margin-top: 10px;
  font-size: .8em;
}
/**************************************
        friendsPlaylists-section
***************************************/
.friendsPlaylists-section {
  grid-area: friends;
  display: grid;
  padding-top: 15px;
}
.friend-container {
  padding: 5px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  
}
.friend-image-container {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  overflow: hidden;
}
.friend-image-container img {
  object-fit: cover;
}
.friend-name {
  padding-left: 10px;
}
/* 
.friendsPlaylists-title
.friend-image
.friend-name 
*/

/**************************************
        video-section
***************************************/
.video-section {
  grid-area: video;
  border: 1px solid red;
}
.video-section iframe {

}

/**************************************
           infoVideo-section
***************************************/
.infoVideo-section {
  grid-area: infoVideo;
  border-bottom: 2px solid rgb(194, 187, 187);
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "video-title video-title"
                       "options tags";
}
.video-title-box {
  grid-area: video-title;
}
.video-options {
  grid-area: options;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.button-toMiPlaylist {

}
.link-compartir {

}
.link-compartir p {

}
.link-guardar {

}
.link-guardar p{

}
.video-tags {
  grid-area: tags;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.infoVideo-tag$ {

}

/**************************************
            comments-section
***************************************/
.comments-section {
  grid-area: comments;
  border: 1px solid red;
}
.comments-section h4 {
  
}
.comments-section input {

}
/* .comment-wall
.comment-box
.comment-user-image
.comment-user-name */
.comment {}

/**************************************
           recomended-section
***************************************/
.recomended-section {
  grid-area: recomended;
  border: 1px solid red;
}
/* .recomended-list-box
.recomended-box
.recomeded-image */
.recomeded-text {}


/*#####################################
                RESPONSIVE
######################################/
